.add-space-container {
    background-color: #fafafa;
    padding: 15px;
}

.leaflet-container {
    border-radius: 10px;
    width: 100%;
    height: 35vh;
}

.space-field.space-name {
    margin-top: 12px;
    margin-bottom: 6px;
    margin-right: 14px;
    margin-left: 14px;
}

.space-field.space-description {
    margin-top: 12px;
    margin-bottom: 6px;
    margin-right: 14px;
    margin-left: 14px;
}

.space-field.space-address {
    margin-top: 12px;
    margin-bottom: 6px;
    margin-right: 14px;
    margin-left: 14px;
}

.loading-box{
    margin-left: 150px;
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .calendar-space-container {
        flex-direction: column;
    }
}