@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Cabin&family=Inter&family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

* {
  padding: 0;
  margin: 0;
}

.app{
  font-family: "Montserrat", "Playfair Display", "Cabin";
}

.nav{
  margin: 0;
  padding: 0;
  background-color: #7879F1;
}

.nav-link{
  text-decoration: none;
  color:white;
  font-size: 80px;
  height: 30px;
  margin: 0;
  padding: 0;
}

.nav-link:hover{
  background-color: beige;
}