.descriptionSpace{margin-top: 60px;} 
/* .descriptionSpace{margin-top: 60px;}
.d, .p{
    color:#7879F1;
    font-size: 30px;
}
.carrousel{
    text-align: center;
   
}
.slick-list {
    margin: 0 auto;
  }
   */
   .container {
    margin-top: 50px;
  }

  .carousel-wrapper {
    margin-bottom: 30px;
    padding: 40px;
  }

  .carousel-item img {
    max-width: 100%;
    justify-content: center;
    display: block;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .description-wrapper {
    padding: 30px;
    background-color: #f5f5f5;
    min-height: 100%;
  }

  .price-wrapper {
    margin-top: 30px;
  }

  .datepickers-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .d, .p{
    color:#7879F1;
    font-size: 30px;
}
.slide img {
    max-height: 100px;
    object-fit: contain;
  }

.spaceInfo-image {
	width: 214px;
  border-radius:100%;
  position: relative;
}
.carousel-slider {
  height: 300px;
}

.slick-arrow {
  -webkit-text-fill-color: #7879F1;
  margin-top: 25px;

}


@media (max-width: 767px) {
  .carousel-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 0;
    box-shadow: none;
  }
}

