.descriptionSpace{margin-top: 60px;} 
/* .descriptionSpace{margin-top: 60px;}
.d, .p{
    color:#7879F1;
    font-size: 30px;
}
.carrousel{
    text-align: center;
   
}
.slick-list {
    margin: 0 auto;
  }
   */
   .spaceInfo-container {
    padding: 0px;
    background-color: #f5f5f5;
  }

  .spaceInfo-title {
    margin-top: 10px;
    margin-left: 25px;
  }
  .carousel-wrapper {
    margin-bottom: 30px;
    padding: 40px;
  }

  .carousel-item img {
    max-width: 100%;
    justify-content: center;
    display: block;
    border-radius: 5px;
    margin: 2px;
  }

  .spaceInfo-grid-container{
    background-color: #f5f5f5;
  }

  .carousel-item img:hover {
    opacity: 0.7;
  }

  .description-wrapper {
    padding: 30px;
    min-height: 100%;
  }

  .price-wrapper {
    margin-top: 30px;
  }

  .datepickers-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .d, .p{
    color:#7879F1;
    font-size: 30px;
}
.slide img {
    max-height: 100px;
    object-fit: contain;
  }

.spaceInfo-image {
	width: 214px;
  margin: 10px;
  padding: 5px;
  border-radius:50%;
  position: relative;
}

.slick-arrow {
  -webkit-text-fill-color: #7879F1;
  margin-top: 15px;

}

.slick-track {
  height: 300px;
}

.spaceInfo-host{

  margin: 10px;
  text-align: left;
  padding: 20px;
  border-radius: 2%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: #f0efe9;
 
}

.spaceInfo-host-description{
  text-align: left;
}


/*Card*/

.spaceInfo-card{
  min-height: 200px;
  margin-top: 130px;
}

@media (max-width: 767px) {
  .carousel-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 0;
    box-shadow: none;
  }
}

