.login-form {
	align-items: center;
	display: flex;
    flex-direction: column;
}

.login-field.login-text {
	margin: 14px;
	max-width: 400px;
    min-width: 400px;
}

.login-card {
	display: flex;
	justify-content: center;
	width: 500px;
}

.login-container {
	display: flex;
	justify-content: center;
	padding: 15px;
    align-items: center;
    background-color:#fafafa ;
	height: calc(100vh - 64px);
}

.login-title.login-sub {
	margin: 20px;
}


@media screen and (max-width: 600px) {
	.login-field.login-text {
	  max-width: 100%;
	  min-width: 100%;
	}
  
	.login-card {
	  width: 100%;
	}
  }

