.myspaces-container {
   
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    height: calc(100vh - 124px);
    overflow: auto;

}

.myspaces-card-container {
    /* display: flex; */
    justify-content: center;
    max-width: 900px;
    padding: 0;
    margin: 0;
  }
  
.myspaces-button.myspaces-banner-button {
    margin: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #fafafa;
}