.profile-form {
	display: flex;
	flex-direction: column;
}

.profile-field.profile-text {
	margin: 14px;
	max-width: 400px;
	min-width: 400px;
}

.profile-card {
	display: flex;
	justify-content: center;
	width: 500px;
}

.profile-container {
	display: flex;
	justify-content: center;
	padding: 15px;
	align-items: center;
	background-color: #fafafa;
	height: calc(100vh - 124px);
}

.profile-title.profile-sub {
	margin: 20px;
}

.profile-image-container {
	flex: 2;
}

.profile-form-container {
	flex: 3;
	max-height: calc(100vh - 124px);
	overflow: auto;
}

.profile-image {
	width: 214px;
    border-radius:150px;
}

.profile-image-complete {
	position: relative;
}
.profile-inputs-container {
	text-align: left;
}
.profile-image-edit {
	position: absolute;
}
.profile-image-button.img-button{
	position: absolute;
	width: 120px;
    right: 135px;
    bottom: -19px;
    background: white;
    color: black;

}
.profile-image-input{
	position: absolute;
	width: 120px;
    height: 32px;
    right: 135px;
    bottom: -19px;
    opacity: 0;
    cursor: pointer;
}
.profile-divider {
	width: 100%;
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #eeeeee;
	margin: 1em 0;
	padding: 0;
}

@media screen and (max-width: 600px) {
	.profile-field.profile-text {
		max-width: 100%;
		min-width: 100%;
	}

	.profile-image-container {
		min-width: 100%;
	}

	.profile-container {
		flex-direction: column;
	}
}